body.mybody {
    background-color: rgba(231, 245, 247, 0.425);

}
main {
    border: solid 10px lightgoldenrodyellow;
    padding: 20px;
    text-align: center;
    background-color:rgba(144, 238, 144, 0.356);
    width: 900px;
    margin: auto;
    position: relative;
    top: 20px;
}
main h1 {
    color: rgb(76, 128, 161);
}
img {
    border:lightgoldenrodyellow solid 10px;
    width: 700px;
    height: 400px;
}
#hotel-staff {
    width: 700px;
    height: 300px;
}
a {
    text-decoration: none;
    font-weight: bold;
    color:rgb(44, 80, 102);
}
#expedia-link:hover {
    color:rgba(161, 55, 211, 0.637);
    text-decoration: none;
}
.container-fluid {
    background-color: rgba(120, 165, 120, 0.596);
}
.reserveForm {
    border: solid 5px rgba(0, 0, 0, 0.151);
    border-radius: 5%;
    padding: 10px;
    background-color: rgba(120, 165, 120, 0.596);
}
form input {
    display: inline-block;
    width: 40%;
}
form label {
    display: inline-block;
    width: 200px;
}
table {
    font-size: 10pt
}
